<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CrazyCustomsProcessorEntities" connectionString="metadata=res://*/CrazyCustomsModel.csdl|res://*/CrazyCustomsModel.ssdl|res://*/CrazyCustomsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CrazyCustomsProcessor;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CrazyCustomsProcessorEntities1" connectionString="metadata=res://*/CrazyCustomsModel.csdl|res://*/CrazyCustomsModel.ssdl|res://*/CrazyCustomsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=CrazyCustomsProcessor;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>